In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("/Users/bhanukedhar/Documents/Visual Analytics/Project-1/my-visual-analytics-app/public/bank_transactions_data_2.csv")

In [5]:
df1[df1["Location"] == "Atlanta"]

,Unnamed: 0,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,...,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,Location_lower,city_lower,state_id,lat,lng
4,4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,...,Student,198,1,7429.40,2024-11-04 08:06:39,atlanta,atlanta,GA,33.7628,-84.422
22,22,TX000023,AC00095,52.20,2023-06-06 18:54:15,Debit,Atlanta,D000142,133.63.96.21,M022,...,Engineer,120,1,8974.93,2024-11-04 08:07:01,atlanta,atlanta,GA,33.7628,-84.422
70,70,TX000071,AC00217,133.55,2023-07-18 16:12:00,Debit,Atlanta,D000201,40.226.196.34,M091,...,Engineer,220,1,3846.28,2024-11-04 08:10:18,atlanta,atlanta,GA,33.7628,-84.422
201,201,TX000202,AC00010,11.18,2023-11-30 16:52:42,Debit,Atlanta,D000129,16.51.235.240,M017,...,Doctor,161,1,5956.89,2024-11-04 08:10:20,atlanta,atlanta,GA,33.7628,-84.422
215,215,TX000216,AC00006,74.88,2023-05-24 16:25:50,Debit,Atlanta,D000139,161.161.26.115,M026,...,Student,202,1,420.67,2024-11-04 08:07:46,atlanta,atlanta,GA,33.7628,-84.422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2232,2232,TX002233,AC00231,284.89,2023-12-18 17:53:03,Debit,Atlanta,D000039,43.98.242.106,M042,...,Doctor,115,1,9738.60,2024-11-04 08:06:51,atlanta,atlanta,GA,33.7628,-84.422
2255,2255,TX002256,AC00349,232.35,2023-05-12 16:14:22,Credit,Atlanta,D000438,141.121.30.32,M048,...,Engineer,153,1,4186.25,2024-11-04 08:08:22,atlanta,atlanta,GA,33.7628,-84.422
2277,2277,TX002278,AC00177,311.28,2023-05-22 16:41:12,Debit,Atlanta,D000515,188.205.152.176,M045,...,Doctor,198,1,135.96,2024-11-04 08:09:13,atlanta,atlanta,GA,33.7628,-84.422
2287,2287,TX002288,AC00253,275.65,2023-08-14 16:52:32,Credit,Atlanta,D000241,6.44.165.160,M013,...,Engineer,14,1,4957.57,2024-11-04 08:08:18,atlanta,atlanta,GA,33.7628,-84.422
2311,2311,TX002312,AC00066,57.34,2023-10-23 16:03:49,Debit,Atlanta,D000370,18.92.67.57,M089,...,Student,81,1,1100.64,2024-11-04 08:10:22,atlanta,atlanta,GA,33.7628,-84.422